# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# IDE
.idea/
.vscode/

# Docker Volumes (if mounted locally)
infra_config/
postgres_data/

# OS Generated
dnsmasq.ethers
pxelinux.cfg/
