DATABASE_URL=postgresql+asyncpg://overwatch:overwatch_password@overwatch-db:5432/overwatch
SECRET_KEY=super-secret-key-for-dev-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
API_HOST=192.168.222.2
API_PORT=7000
PROJECT_NAME=Edge Z.E.R.O.
